.code-list {
  margin-bottom: 0;
}

.code-list__code-item {
  padding-top: var(--edge-padding);
  padding-bottom: calc(var(--edge-padding) * 3);
}

.code-list__code-item__description {
  margin-bottom: var(--edge-padding);
}
