<div class="{% if wrapper_class and not layout %}{{ wrapper_class }}{% elif layout and layout == "none" %} {% else %}centered{% endif %}">
  <a href="{{ href }}" target="_blank">
    <figure>
      <img
        src="{{ href }}"
        loading="lazy"
        alt="{% if alt %}{{ alt }}{% endif %}{% if caption %}{{ caption }}{% endif %}"
        style="width: {% if width %}{{ width }}px{% else %}400px{% endif %}; height: {% if height %}{{ height}}{% else %}auto{% endif %};"
      />
      {% if caption %}
        <figcaption>
          {{ caption }}
        </figcaption>
      {% endif %}
    </figure>
  </a>
</div>
