{% set layout_wrapper_class = "" %}

{% if wrapper_class and not layout %}
  {% set layout_wrapper_class = wrapper_class %}
{% elif layout and layout == "none" %}
  {% set layout_wrapper_class = "" %}
{% elif layout and layout == "fit" %}
  {% set layout_wrapper_class = "" %}
{% else %}
  {% set layout_wrapper_class = "centered" %}
{% endif %}

<div class="{{ layout_wrapper_class }} video">
  {% if caption %}
  <figure>
  {% endif %}
    <video
     controls=""
     muted=""
     title="{% if title %}{{ title }}{% endif %}"
     src="{{ href }}"
     class="{% if class %}{{ class }}{% endif %}"
     width="{% if width %}{{ width }}px{% else %}400px{% endif %}"
     height="{% if height %}{{ height}}{% else %}auto{% endif %}"
    >
    </video>
    {% if caption %}
      <figcaption>
        {{ caption }}
      </figcaption>
    {% endif %}
  {% if caption %}
  </figure>
  {% endif %}
</div>
