<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="view-transition" content="same-origin">
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Ondrej Synacek - Software Developer" />
  <meta property="og:url" content="{{ current_url }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ 'Ondrej Synacek - Software Developer' }}{% endif %}" />
  {% if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
  {% endif %}
  {% if page.extra.image %}
    <meta property="og:image" content="{{ get_url(path=page.extra.image) }}" />
  {% endif %}
  <title>Ondrej Synacek - Software Developer</title>
  <link rel="stylesheet" type="text/css" href="{{get_url(path="/css/main.css")}}">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
{% block rss %}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
{% endblock rss %}
  <script src="https://cdn.counter.dev/script.js" data-id="85dcf6f7-e135-4bed-bd5e-3b57e814cdca" data-utcoffset="1"></script>
  <!-- Lightbox JS -->
  <script type="module">
    import { Lightbox } from "{{get_url(path="/vendor/lightbox/index.mjs")}}";

    customElements.define('wc-lightbox', Lightbox);
  </script>
  <!-- Lightbox CSS (hide scrollbar) -->
  <link rel="stylesheet" type="text/css" href="{{get_url(path="/vendor/lightbox/lib/styles.css")}}">
  </head>
  <body>
    <div class="body-wrapper">
      <div class="content-wrapper">
        <header class="header">
          <div class="header__main-text-wrapper">
            <a href="/" class="header__main-text-link">
              <h1 class="header__main-text">Ondrej Synacek</h1>
            </a>
          </div>
          <nav class="header__nav">
            <div class="header__nav-item--about-me">
              <a href="/" class="header__navlink">About me</a>
            </div>
            <div class="header__nav-item--code-and-links">
              <a href="/code" class="header__navlink header__navlink--inline">Code</a>
              <div class="separator"></div>
              <a href="/log" class="header__navlink header__navlink--inline">Log</a>
              <div class="separator"></div>
              <a href="/links" class="header__navlink header__navlink--inline">Links</a>
            </div>
            <div class="header__nav-item--contact">
              <a href="/contact" class="header__navlink">Contact</a>
            </div>
          </nav>
        </header>
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
