<!DOCTYPE html>
<html lang="en">
  <head>
    <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"ondrejsynacek",utcoffset:"1"}))};sessionStorage.setItem("_swa","1");</script>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ondrej Synacek - Software Developer</title>
  <link rel="stylesheet" type="text/css" href="{{get_url(path="/css/main.css")}}">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
{% block rss %}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
{% endblock rss %}
  </head>
  <body>
    <div class="body-wrapper">
      <div class="content-wrapper">
        <header class="header">
          <div class="header__main-text-wrapper">
            <a href="/" class="header__main-text-link">
              <h1 class="header__main-text">Ondrej Synacek</h1>
            </a>
          </div>
          <nav class="header__nav">
            <div class="header__nav--about-me <%= active === 'index' ? 'header__nav--about-me--active' : '' %>">
              <a href="/" class="header__navlink">About me</a>
            </div>
            <div class="header__nav--code <%= active === 'code' ? 'header__nav--code--active' : '' %>">
              <a href="/code" class="header__navlink">Code</a>
            </div>
            <div class="header__nav--contact <%= active === 'contact' ? 'header__nav--contact--active' : '' %>">
              <a href="/contact" class="header__navlink">Contact</a>
            </div>
          </nav>
          {% block content %} {% endblock %}
        </header>
      </div>
    </div>
  </body>
</html>
