{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{% block content %}
  <section id="log" class="section">
    <div class="row wrap">
      <ul class="log-list">
        {% for log in paginator.pages %}
          <li class="log-list__item">
            <span class="log-list__item__subtitle">
              {{ log.date | date(format="%Y-%m-%d %H:%M") }}
            </span>
            <h3 class="log-list__item__title">
              <a
                href="{{ log.path }}"
                class="log-list__item__title__link"
              >
                {{ log.title }}
              </a>
            </h3>
            {% if log.taxonomies and 'tech' in log.taxonomies %}
              {{ macros::tags(
                tag_list=log.taxonomies.tech,
                taxonomy_category="tech"
                ) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <nav class="pagination">
      {% if paginator.previous %}
          <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
      {% endif %}
      {% if paginator.next %}
          <a class="next" href="{{ paginator.next }}">Next ›</a>
      {% endif %}
    </nav>
  </section>
{% endblock content %}
