{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{% block content %}

<section class="section">
  <div class="log-posted">
    Posted on: {{ page.date | date(format="%Y-%m-%d %H:%M") }}
    {% if page.updated %}
      | Updated on: {{ page.updated | date(format="%Y-%m-%d %H:%M") }}
    {% endif %}
  </div>

  <h2 class="log-title">{{ page.title }}</h2>

  {{ macros::tags(
    tag_list=page.taxonomies.tech,
    taxonomy_category="tech"
    ) }}

  <div>
    {{ page.content | safe }}
  </div>

  <a
    href="/log"
    class="back-to"
  >↩︎ Go back</a>

</section>

{% endblock content %}
